![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas DataFrame exercises

In [35]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

2.0.0

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame creation

### Create an empty pandas DataFrame

In [2]:
# your code goes here

In [36]:
df = pd.DataFrame(data=[None],
             index=[None],
             columns=[None])

In [37]:
assert df is not None

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)


### Create a `marvel_df` pandas DataFrame with the given marvel data

In [38]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [39]:
# your code goes here
marvel_df = pd.DataFrame(data = marvel_data)
marvel_df

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

In [40]:
assert (marvel_df.values == marvel_data).any()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add column names to the `marvel_df`

In [43]:
# your code goes here
col_names=['name',	'sex', 'first_appearance']
marvel_df.columns= col_names
marvel_df

                name     sex  first_appearance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

In [42]:
assert (marvel_df.columns == col_names).all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add index names to the `marvel_df` (use the character name as index)

In [10]:
# your code goes here
marvel_df.index = marvel_df['name']
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Namor                        Namor    male              1939
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Hank Pym                  Hank Pym    male              1962
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

In [11]:
assert (marvel_df.index == marvel_df['name']).all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Drop the name column as it's now the index

In [12]:
# your code goes here
marvel_df = marvel_df.drop(['name'], axis=1)
marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

In [13]:
assert (marvel_df.columns == col_names[1:]).all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Drop 'Namor' and 'Hank Pym' rows

In [14]:
# your code goes here
# axis = 0: drop row, axis = 1: drop col
marvel_df = marvel_df.drop(['Namor', 'Hank Pym'], axis = 0)
marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

In [15]:
# check if the rows have been dropped
assert not marvel_df.index.isin(['Namor', 'Hank Pym']).all()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame selection, slicing and indexation

### Show the first 5 elements on `marvel_df`

In [16]:
# your code goes here
#marvel_df.head()
marvel_df.iloc[:5, ]

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the last 5 elements on `marvel_df`

In [17]:
# your code goes here
#marvel_df.tail()
last_five = marvel_df.iloc[-5:, ]

In [18]:
assert (last_five.index == ['Doctor Strange', 'Scarlet Witch', 'Wasp', 'Black Widow', 'Vision']).all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show just the sex of the first 5 elements on `marvel_df`

In [19]:
# your code goes here
gender = marvel_df.iloc[:5,]['sex'].to_frame()

In [20]:
assert np.unique(gender.values) == 'male'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the first_appearance of all middle elements on `marvel_df`

In [21]:
# your code goes here
value = marvel_df.iloc[1:-1,].first_appearance.to_frame()

In [22]:
assert (value.index == ['Captain America', 'Wolverine', 'Iron Man', 'Thor', 'Thing',
       'Mister Fantastic', 'Hulk', 'Beast', 'Invisible Woman', 'Storm',
       'Hawkeye', 'Daredevil', 'Doctor Strange', 'Scarlet Witch', 'Wasp',
       'Black Widow']).all()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the first and last elements on `marvel_df`

In [23]:
# your code goes here
first_last = marvel_df.iloc[[0, -1]]
first_last.index

Index(['Spider-Man', 'Vision'], dtype='object', name='name')

In [26]:
assert (first_last.index == ['Spider-Man', 'Vision']).all()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [ ]:
# your code goes here
marvel_df.loc['Vision', 'first_appearance'] = 1964

In [ ]:
assert marvel_df.loc['Vision', 'first_appearance'] == 1964

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [ ]:
#your code goes here
marvel_df['years_since'] = 2018 - marvel_df['first_appearance']

marvel_df

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
# your code goes here
mask = marvel_df['sex'] == 'male'
all_man = marvel_df[mask]

In [ ]:
assert all_man['sex'].unique() == "male"

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
# your code goes here
mask = marvel_df['first_appearance'] > 1970
after = marvel_df[mask]

In [ ]:
assert after['first_appearance'].min() > 1970

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
# your code goes here
mask = (marvel_df['first_appearance'] > 1970) & (marvel_df['sex'] == 'female')
result = marvel_df[mask]

In [ ]:
assert result['sex'].unique() == 'female' and result['first_appearance'].min() > 1970

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame summary statistics

### Show basic statistics of `marvel_df`

In [ ]:
# your code goes here
marvel_df.describe()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [ ]:
# your code goes here
mean = marvel_df.first_appearance.mean()

In [ ]:
assert np.round(mean) == 1963

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [ ]:
# your code goes here
min = marvel_df.first_appearance.min()

In [ ]:
assert min == 1941

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [ ]:
# your code goes here
marvel_df.first_appearance.min()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame basic plottings

### Reset index names of `marvel_df`

In [ ]:
marvel_df = marvel_df.reset_index()

marvel_df

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Plot the values of `first_appearance`

In [ ]:
# your code goes here
marvel_df.first_appearance.plot()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Plot a histogram (plot.hist) with values of `first_appearance`

In [ ]:
# your code goes here
plt.hist(marvel_df.first_appearance)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)